<!doctype html>
<title>{% block title %}{% endblock %} - Scheduler</title>
<nav>
  <h1>Scheduler</h1>
  <ul>
    {% if g.member %}
      <li><span>Hello {{ g.member['username'] }}!</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      <li><a href="{{ url_for('member.index') }}">Home</a>

    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
