<!doctype html>
<title>{% block title %}{% endblock %} - Scheduler</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <h1>Scheduler</h1>
  {% if g.member %}
  <div class="base-link">  
    <h4>{{ g.member[1] }}</h4>
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
      <br>
      <a href="{{ url_for('member.index') }}">Home</a>
      <br>
  </div>

  {% else %}
    <a href="{{ url_for('auth.register') }}">Register</a>
    <br>
    <a href="{{ url_for('auth.login') }}">Log In</a>
  {% endif %}
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}
  
  {% endblock %}
