{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ avail_request['name'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h1>This availability request starts at {{ avail_request['start'] }} and goes until {{ avail_request['end'] }} in {{ avail_request['tz'] }}</h1>
    {% for member in members %}
      <h1>{{ member['username'] }}:</h1>
      {% if member['answered'] == 0 %}
        <h1>This member has not responded</h1>
      {% else %}
        {% for slot in member['avail_slots'] %}
          <h1> Available from {{ slot['start_time'] }} until {{ slot['end_time'] }} </h1>
        {% endfor %}
      {% endif %}
    <br>
    {% endfor %}
    <h1>Add your availability: </h1>
    <form method="post">
        <label for="start_date">Start Date (mm/dd/yyyy)</label>
        <input name="start_date" id="start_date" required>
        <label for="start_time">Start Time (hh:mm[a/p])</label>
        <input name="start_time" id="start_time" required>   
        <br> 
        <label for="end_date">End Date(mm/dd/yyyy)</label>
        <input name="end_date" id="end_date" required>    
        <label for="end_time">End Time (hh:mm[a/p])</label>
        <input name="end_time" id="end_time" required>
        <input type="submit" value="Create">
    </form>  
{% endblock %}


