{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %} Book {{ session['active_avail_request']['name'] }}{% endblock %}</h2>
{% endblock %}

{% block content %}
    <h3>This availability request starts at {{ session['active_avail_request']['start'] }} 
        and goes until {{ session['active_avail_request']['end'] }} 
        in {{ session['active_avail_request']['tz'] }}
    </h3>
    {% for member in session['member_responses'] %}
    <h3>{{ member['username'] }}:</h3>
    {% if member['answered'] == 0 %}
        <h4>This member has not responded</h4>
    {% else %}
        {% for slot in member['avail_slots'] %}
        <h4> Available from {{ slot['start_time'] }} until {{ slot['end_time'] }} </h4>
        {% endfor %}
    {% endif %}    
    <br>
    {% endfor %}
    <h3> Current Common Availability </h3>
    {% for date in session['dates_in_common'] %}
      <h4>from {{ date['start_time'] }} to {{ date['end_time'] }}</h4> 
    {% endfor %}    
    <h1>Book this date: </h1>
    <form method="post">
        <label for="start_date">Start Date (mm/dd/yyyy)</label>
        <input name="start_date" id="start_date" required>
        <br>
        <label for="start_time">Start Time (hh:mm[a/p])</label>
        <input name="start_time" id="start_time" required>   
        <br> 
        <label for="end_date">End Date(mm/dd/yyyy)</label>
        <input name="end_date" id="end_date" required>  
        <br>  
        <label for="end_time">End Time (hh:mm[a/p])</label>
        <input name="end_time" id="end_time" required>
        <br>
        <input type="submit" value="Book">
    </form>  
{% endblock %}