{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome to Scheduler!{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h1>IT IS CONTENT IT IS WHAT YOU CRAVE</h1>
    {% if g.member %}
        <h1>Welcome human!</h1>
        <a class="action" href="{{ url_for('auth.register_org') }}">Register a new organization</a>
        <a class="action" href="{{ url_for('auth.add_to_roster') }}">Join an organization</a>
        <h1>Your Availability Requests: </h1>
        {% for avail_request in avail_requests %}
          <a class="action" href="{{ url_for('organization.avail_request', avail_request_id=avail_request['avail_request_id']) }}">
              {{ avail_request['avail_request_name'] }}
          </a>
          with {{ avail_request['org_name'] }}
          {% if avail_request['answered'] == 0 %}
            **Respond**
          {% endif %}
          <br>
        {% endfor %}
        <h1>Your Organizations: </h1>
        {% for org in orgs %}
          <article class="post">
            <header>
              <div>
                <a class="action" href="{{ url_for('organization.org_page', org_id=org[1]) }}">{{ org[0] }}</a>
              </div>
            </header>
          </article>
        {% endfor %}
    {% endif %}
{% endblock %}


